body {
  background-color: #eee;
  text-align: center;
  font-family: "Helvetica Neue", arial, sans-serif;
  margin: 0;
}
/* NAVBAR STYLES */
header {
  position: fixed;
  top: -15px;
  left: 0;
  width: 100%;
  z-index: 2;
}
#nav-bar {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #eee;
  height: 100px;
}
#nav-bar li {
  list-style-type: none;
}
#nav-bar a.nav-link {
  margin: 20px;
  text-decoration: none;
  color: #000;
  font-size: 14px;
}
#header-logo {
  display: flex;
  flex: 1 0 300px;
  align-items: flex-start;
}
#header-img {
  flex: 1;
  width: 80px;
}
#header-title {
  flex: 1;
  font-size: 32px;
  font-weight: bolder;
}
#header-links {
  display: flex;
  flex: 1 0 300px;
  align-items: center;
  justify-content: flex-end;
}
#title {
  margin-top: 120px;
  font-size: 24px;
}
/* FORM STYLES */
#email {
  display: block;
  width: 300px;
  margin: 30px auto;
}
#submit {
  background-color: #f1c405;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  border: 0;
  padding: 8px 15px;
  margin: 0 auto;
  position: relative;
  top: -15px;
  z-index: 1;
}
#submit:hover {
  animation: fade;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
@keyframes fade {
  100% {
    background-color: #f09e10;
  }
}
/* MAIN CONTENT STYLES */
#main-content {
  text-align: left;
  margin: 50px auto;
}
#main-content li {
  display: flex;
  flex: 1 0 100px;
  align-items: center;
}
#main-content img {
  width: 115px;
}
#main-content .main-text {
  flex: 1 0 500px;
  margin: 10px 20px;
}
#main-content .main-text h2,
#main-content .main-text p {
  margin: 0;
}
/* VIDEO STYLES */
#video {
  margin: 30px auto;
  width: 420px;
  height: 315px;
}
/* CARD STYLES */
#cards {
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 420px;
  justify-content: space-around;
}
#cards .card-block {
  border: 1px solid #000;
  border-radius: 4px;
  flex: 1;
  margin: 20px;
  font-size: 14px;
}
#cards .card-header {
  font-weight: bolder;
  text-transform: uppercase;
  background: #ddd;
  padding: 20px 30px;
  margin: 0;
  font-size: 16px;
}
#cards .card-title {
  font-weight: bold;
  font-size: 24px;
}
#cards button {
  background-color: #f1c405;
  text-transform: uppercase;
  font-size: 16px;
  padding: 10px 20px;
  margin: 20px;
  border-radius: 2px;
  border: 0;
  z-index: 1;
}
#cards button:hover {
  animation: fade;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
/* FOOTER STYLES */
#footer {
  background-color: #ddd;
  margin: 30px 30px 0 0;
  width: 100%;
  padding: 5px;
}
#footer ul {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
#footer li {
  margin: 0 10px;
  list-style-type: none;
  font-size: 14px;
  font-weight: bold;
}
#footer p {
  color: #222;
  text-align: right;
  font-size: 14px;
  margin: 10px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 792px) {

  /* Rearrange nav elements */
  #nav-bar {
    padding-right: 40px;
  }
  #header-links {
    display: block;
    margin-top: 40px;
  }
}


@media screen and (max-width: 768px) {

  /* Remove icons */
  #main-content img {
    display: none;
  }
  /* Rearange nav elements */
  #nav-bar {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #eee;
    height: 175px;
  }
  #header-logo {
    justify-content: center;
    flex: 1 0 100%;
    height: 70px;
  }
  #header-links {
    margin-top: 0;
  }
  #title {
    margin: 200px 20px 0 20px;
  }
  /* Center cards */
  #cards .card-block {
    flex-basis: 100%;
    margin: 20px 25%;
  }
}

@media screen and (max-width: 480px) {
  /* Resize card margin */
  #cards .card-block{
    margin: 20px 20px;
  }
}
